
div.container {
    width: 100%;
    height: 90%;
/*    border: 1px solid gray; //??*/
}


nav {
    float: left;
/*    max-width: 160px;*/
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 1em;
    background: rgba(19, 35, 47, 0.9); 
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
    color: white;
    align-items: center;
}

.list{
    color: white;
    
}


/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 4, 2016, 12:55:29 AM
    Author     : DejiNerd
*/
*{
    margin:0;
    padding: 0;
    font-family: tahoma, sans-serif;
    box-sizing: border-box;
    
}

/*body{
    background: rgba(19, 35, 47, 0.9);
}*/

.chatbox{
    width: 50%;
/*    min-width: 390px;*/
    height: 100%;
    background: #ffffff;
    margin-left: 20%;
/*    padding: 25px;*/
/*    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);*/
}

.chatlogs{
    padding: 10px;
    width: 100%;
    height: 90%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.chatlogs::-webkit-scrollbar{
    width: 10px;
    
}
.chatlogs::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: rgba(0,0,0,.1);
}
.chat{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px
}

.chat .chat-message{
    width: 100%;
    padding: 15px;
    margin: 5px 10px 0;
/*    background: #68B3CC;*/
    border-radius: 10px;
}

.friend .chat-message{
    background: #B6B9BA;
    
}
.self .chat-message{
    background: #68B3CC;
    order: -1;
}

.chat-form{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    /*
    margin-left: 20px;*/


}

.chat-form textarea{
    background: #fbfbfb;
    width: 90%;
    height: 40px;
    border: 2px solid #2A5970;
    border-radius: 5px;
    resize: none;
    padding: 5px;
    font-size: 18px;
    color: #333;
    
}

.chat-form button{
    background: rgba(19, 35, 47, 0.9);
    width: 10%;
    height: 40px;
    float: right;
    border-radius: 5px;
/*    float: right; 
    height: 40px;
    padding: 5px 10px;*/
    color: #fff;
}

/*

input{
    font-size: 22px;
    border-radius: 10px;
    border-color: rgba(19, 35, 47, 0.9);
    display: block;
    background: white;
    width: 100%;
    margin-top: 100px
}*/
